<footer class="footer">

    <div class="footer-top section">
      <div class="container">
    
        <div class="footer-brand">
    
          
    
          <ul class="social-list">
            <a href="#" class="logo">
              <img src="../public/imgee/logobro.jpg"
                width="90" height="50" alt="Footcap logo">
            </a>
    
    
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
    
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
    
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>
    
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
    
          </ul>
    
        </div>
    
        <div class="footer-link-box">
    
          <ul class="footer-list">
    
            <li>
              <p class="footer-list-title">Contact Us</p>
            </li>
    
            <li>
              <address class="footer-link">
                <ion-icon name="location"></ion-icon>
    
                <span class="footer-link-text">
                  BRODWAY, Arappura street 123
                </span>
              </address>
            </li>
    
            <li>
              <a href="tel:+557343673257" class="footer-link">
                <ion-icon name="call"></ion-icon>
    
                <span class="footer-link-text">9048601090</span>
              </a>
            </li>
    
            <li>
              <a href="mailto:footcap@help.com" class="footer-link">
                <ion-icon name="mail"></ion-icon>
    
                <span class="footer-link-text">brodway@help.com</span>
              </a>
            </li>
    
          </ul>
    
          <ul class="footer-list">
    
            <li>
              <p class="footer-list-title">My Account</p>
            </li>
    
            <li>
              <a href="/profile" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
    
                <span class="footer-link-text">My Account</span>
              </a>
            </li>
    
            <li>
              <a href="/cart" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
    
                <span class="footer-link-text">View Cart</span>
              </a>
            </li>
    
            <li>
              <a href="/wishlist" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
    
                <span class="footer-link-text">Wishlist</span>
              </a>
            </li>
    
            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
    
                <span class="footer-link-text">Compare</span>
              </a>
            </li>
    
            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>
    
                <span class="footer-link-text">New Products</span>
              </a>
            </li>
    
          </ul>
    
          <div class="footer-list">
    
            <p class="footer-list-title">Offer Time</p>
    
            <table class="footer-table">
              <tbody>
    
                <tr class="table-row">
                  <th class="table-head" scope="row">Mon - Tue:</th>
    
                  <td class="table-data">8AM </td>
                </tr>
    
                <tr class="table-row">
                  <th class="table-head" scope="row">Wed:</th>
    
                  <td class="table-data">7PM</td>
                </tr>
    
                <tr class="table-row">
                  <th class="table-head" scope="row">Fri:</th>
    
                  <td class="table-data">12PM</td>
                </tr>
    
                <tr class="table-row">
                  <th class="table-head" scope="row">Sat:</th>
    
                  <td class="table-data">12 Am</td>
                </tr>
    
                <tr class="table-row">
                  <th class="table-head" scope="row">Sun:</th>
    
                  <td class="table-data">Special</td>
                </tr>
    
              </tbody>
            </table>
    
          </div>
    
          <div class="footer-list">
    
            <p class="footer-list-title">Newsletter</p>
    
            <p class="newsletter-text">
              Authoritatively morph 24/7 potentialities with error-free partnerships.
            </p>
    
           
    
          </div>
    
        </div>
    
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="container">
    
        <p class="copyright">
          &copy; 2024 <a href="#" class="copyright-link">BRODWAY</a>. All Rights Reserved
        </p>
    
      </div>
    </div>
    
    
    </footer>
    





</body>
</html>