<%- include('header') %>

<div class="d-flex justify-content-center align-items-center min-vh-100" style="background-image: url('your-background-image.jpg'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow" style="background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(-6px);">
            <div class="card-body text-center py-5" style="margin: 0rem 0rem 5rem 0rem;">
            <h2 class="font-weight-bold text-white mb-4">Forgot Password</h2>
            <p class="text-white mb-4">
             <h6 style="color: black;">Don't have an Account? </h6> 
              <a href="/signup" class="btn btn-outline-light btn-sm ml-2"><h6 style="color: black;">SIGN UP</h6></a>
            </p>

            <form action="/postforgot" method="post" onsubmit="return validate()">
              <div class="form-group mb-4">
                <input type="email" class="form-control bg-transparent text-white" placeholder="Email" name="email" id="email" required>
                <span id="emailError" class="error text-danger d-block mt-2"></span>
              </div>
              <button type="submit" class="btn btn-success btn-block rounded-pill">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate() {
    const emailError = document.getElementById('emailError');
    emailError.textContent = "";
    
    const email = document.getElementById('email').value.trim();
    
    if (email === "") {
      emailError.textContent = "Email cannot be empty";
      return false;
    }
    if (!/^\S+@\S+\.\S+$/.test(email)) {
      emailError.textContent = "Email should be in a valid format";
      return false;
    }
    
    return true;
  }
</script>

</body>
</html>