<%-include('include/profileHeader')-%> 

  <div class="col-lg-9">
    <div class="content" id="account-settings">
      <p>Profile Information
        <button type="submit" class="btn btn-success"><a href="/editProfile" class="text-white">Edit</a></button>
        <!-- Button trigger modal -->


        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    
            </div>
            <div class="modal-body">
              <form action="/profileEdit" method="post">
             
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Name:</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            <%= detail.name %>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email:</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            <%= detail.email %>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Address:</p>
        </div>
        <div class="col-sm-9">
          <button type="button" class="btn btn-success" onclick="location.href='/address'">Manage
            Address</button>
        </div>
      </div>
    </div>

    <div class="content mt-4" id="payments">
      <h5>Payments</h5>
      <hr>
      <!-- Payments content goes here -->
      <p class="text-muted">No payment methods added.</p>
    </div>
  </div>



  </div>
  </div>
  </section>
  </div>

  <!-- <script>


    document.getElementById('icon').addEventListener('click', function () {
      document.getElementById('images').click();
    });

    document.getElementById('images').addEventListener('change', function () {
      const imagePreview = document.getElementById('imagePreview');
      imagePreview.innerHTML = '';
      const files = this.files;

      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();

        reader.onload = function (e) {
          const img = document.createElement('img');
          img.src = e.target.result;
          imagePreview.appendChild(img);
        };

        reader.readAsDataURL(file);
      }
    });

  </script> -->
  <script>
    document.getElementById('icon').addEventListener('click', function () {
      document.getElementById('images').click();
    });

    document.getElementById('uploadForm').addEventListener('submit', function (event) {
      event.preventDefault();
      const formData = new FormData(this);
      fetch('/profileedit', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          const imagePreview = document.getElementById('imagePreview');
          imagePreview.innerHTML = '';
          data.fileURLs.forEach(url => {
            const img = document.createElement('img');
            img.src = url;
            imagePreview.appendChild(img);
          });
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  </body>

  </html>