<!DOCTYPE HTML>
<html>
<head>
    <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS styles -->
    <style>
        .h2-container {
            display: flex;
            justify-content: space-between; /* Adjust as needed */
        }

        .colorlib-product h2 {
            margin: 0; /* Remove default margin */
        }
    </style>

    <!-- External CSS files -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Your HTML content here -->
</body>
</html>


	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-7">
							<div id="colorlib-logo"><a href="/index">BRODWAY</a></div>
						</div>
						<div class="col-sm-1 col-md-3">
			            <form action="#" class="search-wrap">
			               <div class="form-group">
			                  <input type="search" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
			               </div>
			            </form>
			         </div>
					 <div class="col-sm-2 col-md-2">
						<% if (userToken) { %>	
					 <li class="nav-item list-unstyled">					
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <%=user.name%>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						  <a class="dropdown-item" href="/profile">Profile</a>
						 
						  </div>	
							</li>
							<% } %>
							</div>
				    </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/index">Home</a></li>
								<li class="has-dropdown">
									<a href="/men">Men</a>
									<!-- <ul class="dropdown">
										<li><a href="product-detail.ejs">Product Detail</a></li>
										<li><a href="cart.ejs">Shopping Cart</a></li>
										<li><a href="checkout.ejs">Checkout</a></li>
										<li><a href="order-complete.ejs">Order Complete</a></li>
										<li><a href="add-to-wishlist.ejs">Wishlist</a></li>
									</ul> -->
								</li>
								<li><a href="/women">Women</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
							
								<% if (!userToken) { %>
									<!-- Show the content only if the token is present -->
									<li class="nav-item">
										<li class="cart"><a href="/login"><i class="ion-log-in"></i> Login  </a></li>
									</li>
								<% } %>

								<% if (userToken) { %>
									
									<!-- Show the content only if the token is present -->
									<li class="nav-item">
										<li class="cart"><a href="/userlogout"><i class="ion-log-in"></i> Logout  </a></li>
										
									</li>
								
								
								<li class="nav-item">
									<li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> cart <span class="badge badge-success"><%=cartCount%></span> </a></li>
									<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>